#about {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 6rem;
}

.title {
  color: rgb(89, 103, 115);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.75rem;
  padding-bottom: 2rem;
}

.about-content {
  padding: 0 12.5% 1rem 12.5%;
  color: rgb(134, 148, 160);
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
}

.member-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  cursor: context-menu;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 18.75rem;
  height: 18.75rem;
  perspective: 62.5rem;
  margin: 1rem;
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.2);
  color: rgb(134, 148, 160);
  cursor: pointer;
}

img {
  width: 70%;
}

.container h5 {
  padding: 0.6rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.container p {
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #133f63;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
}

.overlay-active {
  bottom: 0;
  height: 100%;
}

.overlay-text {
  color: rgb(236, 236, 236);
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

.overlay-text h1 {
  font-weight: 400;
  padding: 0.5rem 0;
}

.overlay-text p {
  font-weight: 400;
}

@media screen and (max-width: 820px) {
  .container {
    width: 16rem;
    height: 16rem;
    margin: 1rem;
  }
  .overlay-text {
    font-size: 0.9rem;
    padding: 0.5rem;
    line-height: 1.3rem;
  }
  .container h5 {
    padding: 0.6rem;
    font-size: 1.1rem;
  }
  .container p {
    padding: 0.2rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }
  .about-content {
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 0 5% 1rem 5%;
  }
}

/* @media screen and (max-width: 640px) {
  .member-holder {
    flex-flow: column;
  }
} */